<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>page1</title>
    <link rel="stylesheet" href="stylesheet/style.css">
</head>
<body>
    <table>
        <tr>
            <td>id</td>
            <td>title</td>
            <td>description</td>
            <td>privacy</td>
            <td>upload date</td>
            <td>view</td>
        </tr>
        <tr th:each="photo : ${photos}">
            <td th:text="${photo.getId()}"></td>
            <td th:text="${photo.getTitle()}"></td>
            <td th:text="${photo.getDescription()}"></td>
            <td th:text="${photo.getPrivacy()}"></td>
            <td th:text="${photo.getUploadDate()}"></td>
            <td th:text="${photo.getView()}"></td>
        </tr>
    </table>
</body>
</html>