<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>show</title>
    <link rel="stylesheet" type="text/css" th:href="@{stylesheet/style.css}" >
</head>
<body>
    <form method="post" action="/detail/update">
        <table border="1">
            <tr>
                <td>
                    <label>title </label>
                </td>
                <td>
                    <label>
                        <input name="Title" th:value="${shPhoto.getTitle()}"/>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>description </label>
                </td>
                <td>
                    <label>
                        <input name="description" th:value="${shPhoto.getDescription()}"/>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>privacy </label>
                </td>
                <td>
                    <label>
                        <input name="privacy" th:value="${shPhoto.getPrivacy()}"/>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label> view </label>
                </td>
                <td>
                    <label>
                        <input name="view" th:value="${shPhoto.getView()}"/>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label> upload date </label>
                </td>
                <td>
                    <label>
                        <input type="datetime-local"  name="uploadDate" th:value="${shPhoto.getUploadDate()}">
                    </label>
                    <label th:text="${shPhoto.getUploadDate()}">
                    </label>
                </td>
            </tr>
        </table>
        <input name="id" type="hidden" th:value="${shPhoto.getId()}">
        <table border="1">
            <tr>
                <td>
                    <input style="margin: 0" value="update" type="submit"/>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>